<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
   
   <parameter name="username",value="gowtham"></parameter>
   <parameter name="username",value="18051602"></parameter>
   
    <classes>
      <class name="com.sample.TestNg"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
